body{
	margin:0px;
	padding:0px;
}
.mainSection{
	display:flex;
	width:100%;
}

.header{
	display:flex;
	flex-direction:column;
	width:5%;
	height:650px;
	background-color:#eaf1fb;
	padding-top:25px;
}
.headerLeftIcons{
	display:flex;
	flex-direction:column;
	padding-left:7px;
	color:#5f6368;
}
.headerMenu{
	width:30px;
	height:30px;
	padding-left:7px;
	padding-top:5px;
	cursor:pointer;
}

.headerMenu:hover{
	background-color:#D3D3D3;
	border-radius:50px;
}

.headerBelowIcons{
	display:flex;
	flex-direction:column;
	padding-top:41px;
}

/*MAIL PART START*/

.mailPartMail{
	display:flex;
	flex-direction:column;
	border-radius:35px;
	background-color:#d3e3fd;
	width:36px;
	height:27px;
	padding-left:10px;
	cursor:pointer;
	color:black;
	padding-top:3px;
}
.mailTxt{
	font-size:12px;
	color:#1f1f1f;
	font-family:"Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	/*padding-t:7px;*/
}
/*MAIL PART END*/

/*MAIL PART ICONS START*/

.mailBelowIconsFirst{
	display:flex;
	flex-direction:column;
	margin-top:41px;
	/*margin-left:10px;*/
	cursor:pointer;
	width:34px;
	height:27px;
	padding-left:10px;
	padding-top:7px;
}
.mailBelowIconsFirst:hover{
	border-radius:35px;
	background-color:#D3D3D3;
	
}
.chatTxt{
	font-size:12px;
	color:#444746;
	font-family:"Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	padding-top:5px;
}
.mailBelowIconsSecond{
 	display:flex;
	flex-direction:column;
	margin-top:43px;
	cursor:pointer;
	width:34px;
	height:28px;
	padding-left:10px;
	padding-top:3px;
}
.mailBelowIconsSecond:hover{
	border-radius:35px;
	background-color:#D3D3D3;;
	
}
.meetTxt{
	font-size:12px;
	color:#444746;
	font-family:"Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}


.headerMiddle{
	display:flex;
	flex-direction:column;
	width:100%;
}
.headerMiddleContents{
	display:flex;
	flex-direction:row;
}
.gmailLogo{
	display:flex;
	flex-direction:row;
	height:30px;
	width:15px;
	padding-left:10px;
	padding-top:28px;
	cursor:pointer;
}
.searchBox{
	display:flex;
	width:603px;
	padding-left:6px;
	border-radius:50px;
	background-color:#eaf1fb;
	height:50px;
	margin-left:205px;
	margin-top:7px;
	justify-content:space-between;
	align-items:center;
}
.searchBox input {
	width: 100%;
	border-style: none;
	font-size: 16px;
	padding: 15px;
	border-radius: 25px;
	outline: none;
	background-color:#eaf1fb;
	padding-left: 3px;

}
.searchIcon{
	color:black;
	margin-right:1px;
	margin-left:4px;
	cursor:pointer;
	padding:5px;
}
.searchIcon:hover{
	background-color:#D3D3D3;
	border-radius:100px;
	
}

.tune{
	color:black;
	margin-right:20px;
	cursor:pointer;
	padding:5px;
}
.tune:hover{
	background-color:#D3D3D3;
	border-radius:100px;
	
}
.rightIcons{
	margin-left:268px;
	margin-top:16px;
	color:#444746;
	
}
	
.helpIcon{
	padding:5px;
	color:#444746;
	cursor:pointer;
}
.helpIcon:hover{
	background-color:#D3D3D3;
	border-radius:100px;
	
}
.settingsIcon{
	padding:5px;
	color:#444746;
	cursor:pointer;
}
.settingsIcon:hover{
	background-color:#D3D3D3;
	border-radius:100px;
	
}
.appsIcon{
	padding:5px;
	color:#444746;
	cursor:pointer;
}
.appsIcon:hover{
	background-color:#D3D3D3;
	border-radius:100px;
	
}
.account{
	width:25px;
	height:25px;
	border-radius:50px;
	cursor:pointer;
}
.headerMiddlePart{
	display:flex;
	flex-direction:row;
}
.headerMiddleLeft{
	display:flex;
	flex-direction:column;
	
}
.headerMiddleLeftContents{
	display:flex;
	flex-direction:row;
	margin-top:31px;
	margin-left:9px;
	outline:none;
	width:115px;
	align-items:center;
	border-radius:17px;
	background-color:#c2e7ff;
	font-weight:500;
	font-family:"Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	cursor:pointer;
	padding:7px;
	height:43px;
	
}
.headerMiddleLeft span{
	margin-top:9px;
	margin-left:2px;
	font-size:20px;

}
.composeButton{
	margin-bottom:5px;
	padding-left:10px;
	font-size:14px;
	cursor:pointer;
}
.headerMiddleLeftIcons{
	display:flex;
	flex-direction:column;
	padding-top:8px;
	font-family:"Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	
}
.headerMiddleLeftContents:hover{
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.inboxPart{
	display:flex;
	flex-direction:row;
	width:198px;
	border-radius:75px;
	padding-left:5px;
	height:30px;
	background-color:#a8c7fa;
	cursor:pointer;
	margin-top:10px;
}
.inboxPart span{
	margin-left:10px;
	font-size:20px;
	margin-top:7px;
}
.inboxTxt{
	margin-left:15px;
	margin-top:8px;
	font-size:14px;
}
.starredPart{
	display:flex;
	flex-direction:row;
	cursor:pointer;
	width:198px;
	height:33px;
	font-size:14px;
	padding-left:1px;
	
}
.starredPart:hover{
	border-radius:50px;
	background-color:#D3D3D3;
	
	
}
	
.starredPart span{
	margin-left:15px;
	font-size:20px;
	margin-top:7px;
}
.starredPart p{
	
	margin-top:11px;
	font-size:14px;
	padding-left:14px;
	
}
.snoozPart{
	display:flex;
	flex-direction:row;
	width:198px;
	cursor:pointer;
	height:36px;
}
.snoozPart:hover{
	border-radius:50px;
	background-color:#D3D3D3;
	
	
}
.snoozPart span{
	margin-left:15px;
	font-size:20px;
	margin-top:10px;
}
.snoozTxt{
	margin-left:15px;
	margin-top:12px;
	font-size:14px;
}
.sentPart{
	display:flex;
	flex-direction:row;
	cursor:pointer;
	width:198px;
	height:36px;
}
.sentPart:hover{
	border-radius:50px;
	background-color:#D3D3D3;
	
	
}
.sentPart span{
	margin-left:17px;
	font-size:20px;
	margin-top:3px;
}
.sentTxt{
	margin-left:15px;
	margin-top:5px;
	font-size:14px;
}
.draftsPart{
	display:flex;
	flex-direction:row;
	cursor:pointer;
	width:198px;
}
.draftsPart:hover{
	border-radius:50px;
	background-color:#D3D3D3;
	
	
}
.draftsPart span{
	margin-left:17px;
	font-size:20px;
	margin-top:6px;
}
.draftsTxt{
	margin-left:15px;
	margin-top:15px;
	font-size:14px;
}
.morePart{
	display:flex;
	flex-direction:row;
	cursor:pointer;
	width:198px;
}
.morePart:hover{
	border-radius:50px;
	background-color:#D3D3D3;
	
	
}

.morePart span{
	margin-left:16px;
	font-size:20px;
	margin-top:5px;
}
.moreTxt{
	margin-left:15px;
	margin-top:7px;
	font-size:14px;
}
.labelPart{
	display:flex;
	flex-direction:row;
	margin-left:17px;
	width:198px;
	margin-left:21px;
}
.labelPart span{
	margin-top:8px;
	margin-left:100px;
	cursor:pointer;
	height:24px;
	width:23px;
	padding:6px;
}
.labelPart span:hover{
	background-color:#D3D3D3;
	border-radius:100px;
}
.labelPart Txt{
	font-size:14px;
}
.headerMiddleRight{
	display:flex;
	flex-direction:row;
	height:55px;
}
.headerMiddleRightIcons{
	display:flex;
	margin-top:30px;
	color:#444444;
	margin-left:30px;
	width:150px;
	/*width:150px;*/
}
.boxDrop{
	
	cursor:pointer;
	
}
.boxDrop span{
	font-size:20px;
	padding:5px;
	height:18px;
	width:18px;
	padding-left:3px;
}
.box:hover{
	border-radius:5px;
	background-color:#f2f2f2;
}

.dropDown:hover{
	
	border-radius:5px;
	background-color:#f2f2f2;
}
.nextIcons{
	height:50px;
	margin-left:25px;
}
.nextIcons span{
	font-size:20px;
	cursor:pointer;
	padding:3px;
}
.refresh{
	padding:3px;
	margin-top:2px;
}
.refresh:hover{
	border-radius:15px;
	background-color:#f2f2f2;
}
.dot{
	margin-left:11px;
}
.dot:hover{
	border-radius:15px;
	background-color:#f2f2f2;
}
.headerMiddleSecondRight{
	display:flex;
	margin-top:21px;
}
.num{
	display:flex;
	margin-left:654px;
	color:#5E5E5E;
	font-family:"Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size:14px;
	cursor:pointer;
	padding:10px;
	height:14px;
	width:65px;
}
.num:hover{
	background-color:#bfbfbf;
	border-radius:5px;
	
}
.chevronLeft{
	margin-top:19px;
	margin-left:26px;
	color:#5E5E5E;
	font-size:14px;
}
.chevronRight{
	margin-top:20px;
	margin-left:14px;
	cursor:pointer;
	height:26px;
	width:26px;
}
.chevronRight:hover{
	border-radius:50px;
	background-color:#e6e6e6;
	
}
.bodySection{
	background-color: #F2F6FC;
	height:526px;
	margin-top:25px;
	overflow:scroll;
	
}
.firstSection {
	display: flex;
	align-items: center;
	height: 50px;
	cursor: pointer;
	border-bottom: 1px solid #dddd;
	font-family:"Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.mailIcons {
	display: flex;
	align-items: center;
	margin-left: 17px;
}

.mailIcons .material-symbols-outlined {
	margin: 5px;
	font-size: 20px;
	color: #cfcfd1;

}

.mailIcons .material-symbols-outlined {
	padding: 5px;
	border-radius: 50%;
}

.mailIcons .material-symbols-outlined:hover {
	background-color: #e6e6e6;;
	color: black;
	
}

.firstSection:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-bottom: 1px solid #dddd;
}
.senderName {
	font-size: 14px;
	color: #000000;
	font-weight:300;
	margin-top:21px;
	padding-left: 5px;
	width:110px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.userMessage{
	display: flex;
	flex: auto;
	align-items: center;
	font-size: 14px;
	margin-left:138px;
	margin-top:9px;

}
.userMessage .msg {
	width: 580px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	

}

.dates {
	margin-right: 20px;
	font-size: 12px;
	color: #5F6368;
	margin-top:9px;
}
.headerMiddleEnd{
	margin-left:10px;
}
.headerMiddleEndIcons{
	display:flex;
	flex-direction:column;
	margin-top:23px;
	padding-top:5px;
}
.headerMiddleEndIcons img{
	width:20px;
	height:20px;
	padding:15px;
	cursor:pointer;
}
.headerMiddleEndIcons img:hover{
	border-radius:50px;
	background-color:#E0E0E0;
}
.line{
	margin-left:10px;
	color:#E0E0E0;
}
.plusIcon{
	margin-left:11px;
	width:10px;
	height:10px;
}
.plusIcon img{
	margin-top:30px;
	cursor:pointer;
}
.plusIcon img:hover{
	border-radius:50px;
	background-color:#E0E0E0;
	
}
	
